.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("https://d.top4top.io/p_15417f7yi1.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(100, 71, 55);
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #ddd;
    color: black;
  }
  table{
    margin: 50px auto;
  }
  footer{
    position: relative;
    bottom: 0;
  }
   
  @media (max-height:800px){
    footer { position: relative; }
    header { padding-top:40px; }
  }
 
  .footer-distributed .footer-center{
    width: 100%;
  }

  .footer-distributed .footer-contact span{
    display: block;
    color:  #343746;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
   
  .footer-distributed .footer-icons{
    margin-top: 25px;
    text-align: center;
  }
   
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 50px;
    cursor: pointer;
    background-color:  #33383b00;
    border-radius: 2px;
   
    font-size: 20px;
    color: #31374b;
    text-align: left;
    line-height: 35px;
   
    margin-right: 7px;
    margin-bottom: 7px;
  
  }
