/*Header & navegation of all pages except index page*/
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url("../image/headerAndLanding.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: rgb(48, 58, 53);
}
.logo{
  text-indent: -999999px;
  background: url("../image/logo.png");
  background-blend-mode: initial;
  background-position: center;
  width: 412px;
  height: 307px;

}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ddd;
  color: black;
}
 
@media (max-height:800px){
  footer { position: relative; }
  header { padding-top:40px; }
}
/*Footer of all pages except index page*/
.footer-distributed .footer-center{
  width: 100%;
}

.footer-distributed .footer-contact span{
  display: block;
  color:  rgb(48, 58, 53);
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 1px;
}
 
.footer-distributed .footer-icons{
  margin-top: 1px;
  text-align: center;
}
 
.footer-distributed .footer-icons a{
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color:  #33383b00;
  border-radius: 2px;
 
  font-size: 20px;
  color: rgb(48, 58, 53);
  text-align: left;
  line-height: 35px;
}
